# macOS
.DS_Store

# Build outputs
/build/
/dist/
**/build/
/.gradle/
/.gradle-home/
**/.gradle/
**/.gradle-home/

# SwiftPM
/.swiftpm/
**/.build/

# Xcode
DerivedData/
*.xcresult
*.xcworkspace/xcuserdata/
*.xcodeproj/xcuserdata/
*.xcodeproj/project.xcworkspace/xcuserdata/

# Editors
.idea/
.vscode/
